<%= form_for(:user, :url => sign_in_path, html: { :role => 'form',
    :class => 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :username, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :username, class: 'form-control',
          placeholder: 'Username' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email_address, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.email_field :email_address, class: 'form-control',
          placeholder: 'Email Address' %>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :password, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: 'form-control',
          placeholder: 'Password' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
<% end %>
