<div>
  <h2>Documentaries:</h2>
  <hr>
  <% @documentaries.each do |documentary| %>
    <div class="small-6 medium-3 columns end" data-id="<%= documentary.id %>">
      <%= link_to(documentary_path(documentary)) do %>
        <img src="<%= documentary.thumbnail_url %>" width="225" height="127">
        <h3><%= documentary.title %></h3>
      <% end %>
      <span><%= documentary.likes %> likes, and</span>
      <span><%= documentary.dislikes %> dislikes</span>
    </div>
  <% end %>
</div>
<div>

<div class="large-12 columns">
  <%= will_paginate(@documentaries, renderer: FoundationPagination::Rails) %>
</div>
