<div>
  <h1><%= @documentary.title %></h1>
  <p><%= @documentary.description %></p>
  <% if @documentary.video_service == 'youtube' %>
    <div class="video-wrapper" id="video-player">
      <iframe id="ytplayer" type="text/html"
          src="//www.youtube.com/embed/<%= @documentary.video_source %>"
          frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
  <h3>Uploaded by <a href="/user/view/<%= @documentary.uploader_user.to_s %>">
      <%= @documentary_user %></a></h3>
  <span><%= @documentary.likes %> likes, and</span>
  <span><%= @documentary.dislikes %> dislikes</span>

  <p>Tags: <%= raw @documentary.tag_list.map { |tag| link_to(tag, search_index_path(search: tag)) }.join(', ') %></p>

  <%= link_to('Edit Documentary', edit_documentary_path(@documentary), class: 'small button') if can?(:edit, @documentary) %>
</div>

<% if !@review.message %>
  <%= form_for(@review, url: reviews_path) do |f| %>
    <input type="hidden" name="review[documentary_id]" value="<%= @documentary.id %>" />
    <%= f.hidden_field('documentary_id', value: @documentary.id) %>

    <%= f.text_area(:message, label: 'Review', placeholder: 'Test Message') %>

    <div class="form-group">
    <div class="radio col-sm-offset-2">
      <label>
        <input type="radio" name="review[is_positive]" value="true" checked>
        Liked
      </label>
    </div>
    <div class="radio col-sm-offset-2">
      <label>
        <input type="radio" name="review[is_positive]" value="false">
        Disliked
      </label>
    </div>
    
    <%= f.submit('Submit Review') %>
  <% end %>
<% elsif current_user %>
  <%= form_for(@review, url: review_update_path, method: :patch) do |f| %>
    <%= f.hidden_field('documentary_id', value: @documentary.id) %>

    <%= f.text_area :message, label: 'Review', placeholder: 'Test Message', value: @review.message %>

    <div class="form-group">
    <div class="radio col-sm-offset-2">
      <label>
        <input type="radio" name="review[is_positive]" value="true" <%= @review.is_positive == true ? 'checked' : nil %>>
        Liked
      </label>
    </div>
    <div class="radio col-sm-offset-2">
      <label>
        <input type="radio" name="review[is_positive]" value="false" <%= @review.is_positive == false ? 'checked' : nil %>>
        Disliked
      </label>
    </div>

    <%= f.submit('Update Review') %>
  <% end %>
<% end %>

<% @reviews.each do |review| %>
  <hr>
  <p><%= review.message %></p>
  <p><%= review.is_positive ? 'Liked' : 'Disliked' %></p>
  <p>Posted by <a href="/user/view/<%= review.user_id %>">
      <%= User.find(review.user_id).username %></a></p>
<% end %>
