<%= form_for(@user, :url => sign_up_path) do |f| %>
  <div class="large-6 medium-6 columns">
    <%= f.text_field(:username, placeholder: 'Username') %>
  </div>

  <div class="large-6 medium-6 columns">
    <%= f.email_field(:email_address, placeholder: 'Email Address') %>
  </div>

  <div class="large-6 medium-6 columns">
    <%= f.password_field(:password, placeholder: 'Password') %>
  </div>

  <div class="large-12 columns end">
    <%= f.submit('Sign Up!') %>
  </div>
<% end %>
