<h1><%= @user.username %></h1>
<h2><%= @user.email_address %></h2>

<div>
  <h2>Uploaded Documentaries:</h2>
  <hr>
  <% @documentaries.each do |documentary| %>
    <div class="col-md-3" id="<%= documentary.id %>">
        <a href="/view/<%= documentary.title.downcase.gsub(' ','-') %>">
          <img src="<%= documentary.thumbnail_url %>" width="225" height="127">
          <h3><%= documentary.title %></h3>
        </a>
        <span><%= documentary.likes %> likes, and</span>
        <span><%= documentary.dislikes %> dislikes</span>
      </div>
    </div>
  <% end %>
</div>
