<div id="user-info">
  <h1><%= @user.username %></h1>
  <%= link_to('Edit Profile', user_edit_url, class: 'small button') if can?(:edit, @user) %>
</div>

<div id="user-documentaries">
  <h2 class="title-divider">Uploaded Documentaries</h2>

  <div class="row">
    <% @documentaries.each do |documentary| %>
      <div class="small-6 medium-3 columns end documentary-container" id="<%= documentary.id %>">
        <%= link_to(documentary_path(documentary), title: documentary.title) do %>
          <img src="<%= documentary.thumbnail_url %>" width="225" height="127">
          <h3><%= documentary.title %></h3>
        <% end %>
        <span><%= documentary.likes %> likes, and</span>
        <span><%= documentary.dislikes %> dislikes</span>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate(@documentaries, renderer: FoundationPagination::Rails) %>
