<div class="best-documentaries">
  <h2 class="title-divider">Best:</h2>
  <div class="row">
    <% @best_documentaries.each do |documentary| %>
      <div class="small-6 medium-3 columns end documentary-container" id="<%= documentary.id %>">
        <%= link_to(documentary_path(documentary)) do %>
          <img src="<%= documentary.thumbnail_url %>" width="225" height="127">
          <h3><%= documentary.title %></h3>
        <% end %>
        <span><%= documentary.likes %> likes, and</span>
        <span><%= documentary.dislikes %> dislikes</span>
      </div>
    <% end %>
  </div>
</div>

<div class="random-documentaries">
  <h2 class="title-divider">Random:</h2>
  <div class="row">
    <% @random_documentaries.each do |documentary| %>
      <div class="small-6 medium-3 columns end documentary-container" id="<%= documentary.id %>">
        <%= link_to(documentary_path(documentary)) do %>
          <img src="<%= documentary.thumbnail_url %>" width="225" height="127">
          <h3><%= documentary.title %></h3>
        <% end %>
        <span><%= documentary.likes %> likes, and</span>
        <span><%= documentary.dislikes %> dislikes</span>
      </div>
    <% end %>
  </div>
</div>
