<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Documentaries</title>

  <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>
<body>
  <div class="contain-to-grid">
    <nav id="navbar" class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to('Documentaries', root_path) %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to('Upload', new_documentary_path) %></li>
        </ul>

        <ul class="right">
          <!-- Search form -->
          <li class="has-form">
            <form action="<%= search_index_path %>" method="get">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <%= text_field_tag('search', params[:search], placeholder: 'Tag One, Tag Two') %>
                </div>

                <div class="large-4 small-3 columns">
                  <%= submit_tag('Search', name: nil, class: 'alert button expand') %>
                </div>
              </div>
            </form>
          </li>

          <% if current_user %>
            <li><%= link_to('Upload', new_documentary_path) %></li>
            <li><a href="/user/view/<%= session[:user_id] %>">Profile</a></li>
            <li><a href="/user/sign_out">Sign Out</a></li>
          <% else %>
            <li><a href="/user/sign_up">Sign Up</a></li>
            <li><a href="/user/sign_in">Sign In</a></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row">
    <div class="columns">
      <%= display_flash_messages %>

      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag('vendor/modernizr') %>
  <%= javascript_include_tag('application') %>
</body>
</html>
